<%- include('header') %>

<header>
  <a href="/">PostMoon</a>
  >
  <%= test %>
</header>

<h3>Scenarios:</h3>
<% if (scenarios.length) { %>
   <ul class="testLists">
   <% scenarios.forEach( (e) => { %>
      <li>
        <a href="/<%= test %>/<%= e %>">
          <%= e || 'default' %>
        </a>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
    <div class="informe">
      <h1>Write some tests</h1>
    </div>
  <% } %>


<%- include('footer') %>
