<%- include('header') %>

<header>
  <span class="prueba <%= fail ? 'rojo' : 'verde' %>">
    <%= name %>
  </span>
  <a href="/">×</a>
</header>

<div class="resumen">
    <p class="<%= pass ? 'verde' : ''%>">Pass: <%= pass %></p>
    <p class="<%= fail ? 'rojo' : ''%>">Fail: <%= fail %></p>
</div>

<div class="informe">
  <% tests.forEach(function (test) { %>
    <div>
      <h3 class="<%=
        test.error ? 'rojo' : 'verde'
      %>"><%= test.test %></h3>
      <% if (test.error) { %>
        <p class="rojo">
          <%= test.error.message %>
        </p>
      <% } %>
    </div>
  <% }) %>
</div>



<%- include('footer') %>
